*{ 
	margin: 0; padding: 0;
}
html, body{
	width:  100%;
	height: 100%;
	overflow: hidden;
	background: whitesmoke;
}
ul li{
	list-style: none;
} 
.wrap{
	margin: 10% auto;
	width: 800px;
}


/***********************************/

img{
	width:  100%;
}
#slider-list{
overflow-y: hidden;
position: relative; 	
}
#slider-list li {
	display: block;
	position: absolute;
	top: 0; left: 0;
	z-index: 0;
}

#slider-console{
	display: inline-block;
	padding: 10px;
	background: yellowgreen;
}
#slider-pages{
	display: inline-block;
}

/***********/

#prev {}
#next {}

/***********/

#slider-list .actual{
	z-index:1;
}
.nro_actual{
	background: yellow;
}